<div class="back container centralizado">
    <div class="cabecalho">
        <h1>Mesas</h1>

    </div>
    <div class="categoria centralizado">
        <button class="botaoVermelho" [ngClass]="{'btnBranco': escolhido!='todas'}" (click)="escolhido='todas'; pegaMesa()">Todas</button>
        <button class="botaoVermelho" *ngFor="let item of categorias" [ngClass]="{'btnBranco': escolhido!=item.name}" (click)="escolhido=item.name; pegaMesa(item._id)">{{item.name}}</button>

    </div>
    <div class="mesas centralizado">
        <div class="cadaMesa centralizado" *ngFor="let item of mesas" (click)="abreMesa(item); item.ativo=true" [ngClass]="{'ativo': item.ativo, 'mesaCliente': item.participantes.length>0}" >
            <h5>{{item.name}}</h5> 
            <div class="btnFechar iconeNotificacao" *ngIf="item.temMsg" title="mensagem não lida">
                <mat-icon> mail_outline</mat-icon>
            </div>
            <div class="participantes centralizado">
                <p>Tamanho da mesa: {{item.size}}</p>
                <p> {{item.reserved ? "Reservado" : "Disponível para reservar"}}</p>
                <p *ngIf="item.reserved" > Data: </p>
                <p *ngIf="item.reserved" >13/09/2022 às 18:00</p>
                <!-- <p>Horário chegada: {{item.participantes[0].chegada | date :'HH:mm'}}</p> -->

            </div>
            <div class="participantes centralizado" 
            *ngIf="item.participantes.length>0" >
                
                <p>Pessoas na mesa: {{item.participantes.length}}</p>
                <p>Horário chegada: {{item.participantes[0].chegada | date :'HH:mm'}}</p>
                <p><span style="color: rgba(252,122,66,1); font-size: 10px;">{{item.statusOrder}}</span></p>

            </div>
            <!-- <div class="botoes" *ngIf="item.participantes.length==0 && !item.reserved" >
                <button class="botaoVermelho">Reservar</button>
            </div> -->
        </div>
        
    </div>

</div>
<!-- <div class="reservas">
    <p *ngIf="numeroDeSolicitacao>0" (click)="abreSolicitacao()">Tem {{numeroDeSolicitacao}} solicitações de reserva de mesa</p>
    <h2 *ngIf="numeroDeSolicitacao==0" (click)="abreSolicitacao()">Reservas de mesa</h2>
</div> -->
