small{
    position: absolute;
    font-size: 9px;
    color: rgba(0, 0, 0, 0.555);
    margin-top: 2%;
    bottom: 5px;
    right: 5px;
}
.back{
    
    height: 100vh;
    justify-content: flex-start;
    padding-top: 0%;
}
.cabecalho{
    width: 79%;
    
    margin-top: 0%;
    height: 50px;
    margin-bottom: 5%;
    width: 100%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1),
    
}
.cabecalho h1{
    font-size: 20px;
    color: white;
}
.conteudo{
    width: 100%;
    height: 70vh;
    overflow: auto;
    justify-content: flex-start;
    
}
.mensagens{
    width: 90%;
    
    
}
.cadaMensagem{
    width: 100%;
    min-height: 50px;
    
    margin-top: 5%;
}
.msgRestaurante{
    align-items: flex-start;
}
.msgRestaurante .msg{
    min-width: 50%;

    max-width: 90%;
    min-height: 40px;

    margin-left: 0;
    background-color: #f59c60;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.1);
    padding: 1%;
    padding: 5%;
    border-radius: 7px;
    position: relative;
    
}
.msgUsuario{
    align-items: flex-end;
}
.msgUsuario .msg{
    min-width: 50%;
    max-width: 90%;
    min-height: 40px;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.1);
    padding: 1%;
    padding: 5%;
    border-radius: 7px;
    position: relative;

}

.textArea{
    height: 10vh;
    
    padding: 0.5%;
    width: 98%;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    flex-direction: row;

}
.textArea textarea{
    box-shadow: 1px 1px 8px rgba(0,0,0,0.1);
    border: 0px;
    border-radius: 8px;
    margin-left: 4%;
}
.botaoVermelho{
    min-width: 100px;
}