<div class="main">
    <div class="bloco intro">
        <div class="conteudo container centralizado">
            <h1>Saiba mais sobre OnTheTable</h1>
            <div class="conteudoTexto">
                <div class="texto">
                    <ul>
                        <li>
                            OnTheTable permite que sua loja tenha um cardápio virtual via QRcode para cada mesa e balcão,
                            sempre identificando a mesa e o cliente.
                        </li>
                        <li>
                            O cliente abre o cardápio virtual, escolhe o que quer e faz o pedido pelo próprio celular.
                        </li>
                        <li>
                            Acompanhe pelo frente de caixa a preparação e entrega dos pedidos, monitorando prazos e pagamentos.
                        </li>
                        <li>
                           Obtenha relatórios gerenciais completos, das vendas, dos clientes e até da eficiência do atendimento
                        </li>
                        <li>Tenha agora um canal de comunicação direto com o seu público</li>
                        <li>Simples, rápido e fácil! Sem a necessidade de instalação de totens ou equipamentos</li>
                      </ul>
                      <p>Experimente agora, é grátis por 30 dias e sem necessidade de cartão de crédito!</p>
                </div>
                
                
            </div>
            <div class="botoes centralizado">
                <button class="botaoVermelho" [routerLink]="['/cadastro']">Teste de graça</button>
                <p>
                    Ainda na dúvida?<br>
                    Entre  em contato  conosco <a href="">aqui</a><br>
                    e faça sua pergunta!
                </p>
            </div>
        </div>
    </div>
    <div class="bloco intro2">
        <div class="conteudo2 container centralizado">
            <h1>Para o seu cliente</h1>
            <div class="conteudoTexto">
                <div class="texto">
    
                      <h5>Com OnTheTable não precisa mais esperar pelo atendimento presencial e pode fazer
                        os seus pedidos por um cardápio virtual, acessível por QRcode na mesa ou no balcão
                      </h5>
                      <p>
                        Agora o cliente pode utilizar o seu próprio celular para ter experiências exclusivas no seu restaurante
                        e sem a necessidade de baixar aplicativo!
                      </p>
                </div>
                
                
            </div>
            <div class="botoes centralizado">
         
                <h5>Teste agora com o nosso modelo de cardápio!</h5>
                <p>Use a sua câmera do celular para escanear e ver de perto nosso produto!</p>
            </div>
        </div>
    </div>
</div>
