.main{
    
    > .intro{
        background-color: var(--primary-color);
        z-index: 3;
    }

    > .bloco{
        width: 100%;
        min-height: 100vh;
    
        > .conteudo{
            width: 100%;

            min-height: 100vh;
            
            align-items: flex-start;
           
            padding: 1.5%;
            > h1{
                font-size: 30px;
                font-weight: 500;
            }
            > .conteudoTexto{
                width: 40%;
                min-width: 360px;
                background-color: white;
                box-shadow: 0px 5px 5px rgba(0,0,0,0.1),
                inset 1px 1px 2px #fff;
                border-radius: 14px;
                margin-top: 2%;
                min-height:400px ;
                padding: 3%;
                > h3 {
                    font-size:25px;
                    margin-top: 5%;
                }
                > p{
                    font-size: 18px;
                    margin-top: 8%;
                }
                > button{
                    margin-top: 10%;
                }
                > .texto{
                    margin-left: 5%;
                    ul {
                        list-style-type: square;

                        >li {
                            margin-top: 5%;
                            font-size: 18px;
                        }
                        
                    }
                    >p{
                        font-weight: 700;
                        margin-top: 5%;
                    }
      
                }

            }
            > .botoes{
                margin-top: 2%;
                width: 40%;
                justify-content: space-between;
                flex-direction: row;
            }
        }
        > .conteudo2{
            width: 100%;

            min-height: 100vh;
            
            align-items: flex-end;
           
            padding: 1.5%;
            > h1{
                font-size: 30px;
                font-weight: 500;
            }
            > .conteudoTexto{
                width: 40%;
                min-width: 360px;
                background-color: white;
                box-shadow: 0px 5px 5px rgba(0,0,0,0.1),
                inset 1px 1px 2px #fff;
                border-radius: 14px;
                margin-top: 2%;
                min-height:320px ;
                padding: 3%;
                > h3 {
                    font-size:25px;
                    margin-top: 5%;
                }
                > p{
                    font-size: 18px;
                    margin-top: 8%;
                }
                > button{
                    margin-top: 10%;
                }
                > .texto{
                    margin-left: 5%;

                    >p{
                        
                        margin-top: 8%;
                        font-size: 15px;
                        text-align: end;
                        line-height: 25px;
                    }
                    > h5{
                        font-size: 18px;
                        margin-top: 5%;
                        text-align: end;
                        line-height: 25px;
                        font-weight: 700;
                    }
      
                }

            }
            > .botoes{
                margin-top: 2%;
                width: 20%;
                align-items: flex-end;
                flex-direction: column;
                > h5{
                    font-weight: 700;
                    font-size: 18px;
                    text-align: right;
                    line-height: 25px;
                }
                > p{
                    font-size: 12px;
                    text-align: right;
                    margin-top: 5%;
                    line-height: 15px;

                }
            }
        }
    }
}
