
header{
    
    width: 100%;
    
    
}

.info{
    z-index: 1;
    color: white;
    align-items: flex-end;
    margin-right: 10%;
    margin-top: 10%;
}
.compartilhar{
    flex-direction: row;
    margin-top: -8%;
    width: 100vw;

    justify-content: flex-end;
    margin-right:5%;
}
.compartilhar p{
    font-size: 12px;
}
.compartilhar button{
    width: 30px;
    height: 50px;
    border: 0px;
    background-color: transparent;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    color: white;
    font-size: 30px;
}
.nomeMesa{
    color: black;
    background-color: white;
    width: 80%;
    
    min-height: 80px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1),
    inset 1px 1px 2px #fff;
    padding: 5%;
}
.nomeMesa h1{
    font-size: 20px;
    font-weight: 700;
}
.nomeMesa p{
    margin-top: 2%;
    font-size: 15px;
    font-weight: 100;

}
.nomeMesa h4{
    margin-top: 5%;
    font-size: 25px;
    font-weight: 400;
}

.pesquisar{
    margin-top: 5%;
    color: black;
    background-color: white;
    width: 80%;

    height:50px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1),
    inset 1px 1px 2px #fff;
    padding: 0 5%;
    flex-direction: row;
    justify-content: flex-start;

}
.pesquisar .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    color: black;
    font-size: 30px;
    margin-top: 0%;
}
.pesquisar input{
    border: 0px;
    background-color: transparent;
    width: 100%;
    font-size: 18px;
}

.fixed{
    position: fixed;
    transition: 0.5s linear;
    top: 0%;
    left:0%;
    height: 110px;
    z-index: 100;
    width: 100%;
    background: linear-gradient(0deg, rgba(251,88,97,1) 0%, rgba(252,122,66,1) 100%);
    padding: 2%;
}
.textoFixed{
    color: white;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 1%;
}
.fixed .pesquisar{
    width: 85%;
    margin-bottom: 1%;
    height: 35px;
    margin-top: 1%;
    border-radius: 10px;
}
.noFixed{
    position: static;
    transition: 0.2s linear;
    top: -50px;
    

}

.chamarGarcom{
    position: fixed;
    bottom: 12%;
    right: 1%;
    z-index: 5;
    flex-direction: row;
}
.chamarGarcom button{
    width: 200px;
    background-color: #f1f1f1;
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
    border: 0px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}
.chamarGarcom .imgButton{
    min-width: 50px !important;
    height: 50px !important;
    border-radius: 100%;

    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    margin-left: -10%;
}
.imgButton img{
    width: 50%;
}
.back{
    padding-bottom: 20%;
    margin-left: 5%;
}
.backFixed{
    margin-top: 60%;
    
}