h1{
    font-size: 32px;
}
h5{
    font-size: 20px;
}
p{
    font-size: 15px;
    margin-top: 5%;
}
small{
    color: #f27523;
    margin-top: 5%;
    font-size: 10px;
}
.back{
    width: 40vw;
    min-width: 300px;

    min-height: 400px;
    height: 80vh;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10%;


}
.categoria{
    margin-top: 5%;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;



}
.botaoVermelho{
    min-width: 120px !important;
    margin-right: 2%;

}
.mesas{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
    width: 100%;
    height: 280px;


}
.cadaMesa{
    min-width: 200px;
    margin-top: 2%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1),
    inset 1px 1px 2px #fff;
    background-color: white;
    padding: 2%;
    border-radius: 12px;
    min-height: 50px;
    height: 220px;
    justify-content: flex-start;
    cursor: pointer;
    margin-right: 5%;

}
.cadaPedido{
    margin-top: 5%;
    height: 120px;
    overflow: auto;
    width: 100%;
}
.cadaPedido::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
} 
.participantes{
    margin-top:5%;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    > .complementos{
        > .cadaComplemento{
            width: 250%;
            flex-direction: row;
            justify-content: flex-start;
            
            > p{
                font-size: 12px;
                color: rgba(0, 0, 0, 0.406);
                width: 30%;
                margin-left: 1%;
            }
        }
    }
    
}
.conteudoPedidos{
    width: 100%;
    height: 200px;
    padding-right: 2%;
    margin-top: 5%;
}
.ativo{
    background: linear-gradient(0deg, rgba(251,88,97,1) 0%, rgba(252,122,66,1) 100%);
    color: white !important;
}
.ativo small{
    color: white;
    font-weight: 700;
}
.botoes{
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 10%;
}
.botaoVermelho{
    min-width: 80px !important;
}
.cancelarPedido{
    font-size: 12px;
}