<app-alert-erro [(erro)]="erro" *ngIf="erro" ></app-alert-erro>
<div class="conteudo centralizado">
    <mat-spinner *ngIf="carregando" style="margin-top: 10%"></mat-spinner>
    <form  [formGroup]="form" class="forms centralizado" *ngIf="!carregando" >
        <div class="form-group">
            
            <div class="inputLogin centralizado">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="text"  formControlName="email">
                </mat-form-field>
            </div>   
        </div>

        <div class="botoesLogin centralizado">
            <button type="submit" class="btn botaoVermelho" (click)="enviarEmail()">Enviar Código</button>
            <a href="#/login">Cancelar</a>

        </div>
        
    
    </form>

</div>
