
<div class="back centralizado">
  <div class="cabecalho centralizado" >
    <h1>Carrinho </h1>
  </div>
  <div class="centralizado" *ngIf="mesa && mesa.cart.length==0" style="color: white">
    Carrinho Vazio
  </div>
  
  <div class="centralizado" style="width: 100%" *ngIf="mesa && mesa.cart.length>0" >

    <div class="infoRestaurante centralizado">
      <h2>{{mesa.restaurant.name+" "}}-{{" "+mesa.name}}</h2>
      
    </div>

    <div class="cadaPedido centralizado" *ngFor="let item of mesa.cart; let i = index"   >
      
      <h1 >{{item.name}}</h1>

      <div class="centralizado pedidos">
        <div class="infoPedido">

          <p style="width: 80%;">{{item.nameFood}}</p>
        </div>
        <div class="img backgroundImage" style="background-image: url({{item.imageFood}});"  alt=""> </div>


      </div>
      <div class="complementos">
        <div class="cadaComplemento centralizado" *ngFor="let item2 of item.complementos" >
          <p>{{item2.quantidade}} x</p>
          <p>{{item2.name}}</p>
          <p>{{item2.price | currency:'BRL':true }}</p>
          
        </div>
      </div>
      <div class="quantidade centralizado">
        <button class="btnQuantidade botaoDesativado" *ngIf="item.quantidade==1">-</button>

        <button class="btnQuantidade botaoVermelho" *ngIf="item.quantidade>1" (click)="item.quantidade = item.quantidade-1; editCart(mesa._id, i, -1)" >-</button>
        <p>{{item.quantidade}}</p>
        <button class="btnQuantidade botaoVermelho" (click)="item.quantidade = item.quantidade+1; editCart(mesa._id, i, 1) ">+</button>
      
      </div>
      <div class="preco centralizado">
        <p>{{(item.priceFood+calculaComplementos(item))*item.quantidade | currency:'BRL':true}}</p>
        <a (click)="remover(mesa._id, i)">Remover</a>
      </div>
    </div>


    <div class="botoes centralizado">
      <div class="total">
        <p>Total: {{calculaTotal() | currency:'BRL':true}}</p>
      </div>
      <button class="botaoVermelho" (click)="fazerPedido()" *ngIf="token" >Fazer Pedido</button>
      <button class="botaoVermelho" (click)="irPara()" *ngIf="!token" >Login e fazer pedido</button>
    </div>
  </div>

  </div>
