<div class="conteudo centralizado">
    <img class='logoLogin' src="./assets/logo.png" alt="">
    <p style="margin-bottom: 2%">Console para restaurante</p>
    <app-forget-password-email *ngIf="page==0" [(email)]="email"  [(page)]="page"></app-forget-password-email>
    <app-forget-password-code *ngIf="page==1" [(email)]="email" [(page)]="page" [(id)]="id"></app-forget-password-code>
    <app-forms-cad-password *ngIf="page==2" [(email)]="email" [(page)]="page" [(id)]="id"></app-forms-cad-password>
  
  </div>
