<h1 *ngIf="carregando" >carregando</h1>
<form  [formGroup]="form" class="forms centralizado" *ngIf="!carregando" >  
    <h5 *ngIf="!code" >Confirme sua identidade</h5>
    <h5 *ngIf="code" >Digite o código que enviamos</h5>
    
    <mat-form-field appearance="outline" class="centralizado" *ngIf="!code" >
        <mat-label>Email ou telefone*</mat-label>

        <input matInput name="name"  formControlName="email">
        <mat-error *ngIf="form.controls['email'].invalid && form.controls['email'].touched" > - Campo obrigatório</mat-error> 

    </mat-form-field>
    <mat-form-field appearance="outline" class="centralizado" *ngIf="!code" >
        <mat-label>Nome*</mat-label>

        <input matInput name="name"  formControlName="nome">
        <mat-error *ngIf="form.controls['nome'].invalid && form.controls['nome'].touched" > - Campo obrigatório</mat-error> 

    </mat-form-field>
    <mat-form-field appearance="outline" class="centralizado" *ngIf="!code" >
        <mat-label>CPF*</mat-label>

        <input matInput name="name"  formControlName="cpf">
        <mat-error *ngIf="form.controls['cpf'].invalid && form.controls['cpf'].touched" > - Campo obrigatório</mat-error> 

    </mat-form-field>
    <mat-form-field appearance="outline" class="centralizado" *ngIf="code" >
        <mat-label>código</mat-label>

        <input matInput name="name"  formControlName="code">
        <mat-error *ngIf="form.controls['code'].invalid && form.controls['code'].touched" > - Campo obrigatório</mat-error> 

    </mat-form-field>

    <button class="botaoVermelho" style="margin-top:5%;" *ngIf=" !code && form.controls['nome'].valid && form.controls['cpf'].valid" (click)="checkin()">Entrar</button>
    <button class="botaoVermelho botaoDesativado" style="margin-top:5%;" 
    *ngIf="!code && (form.controls['nome'].invalid || form.controls['cpf'].invalid)">Entrar</button>

    <button class="botaoVermelho" style="margin-top:5%;" *ngIf="code && form.controls['code'].valid" (click)="login()">Enviar</button>
    <button class="botaoVermelho botaoDesativado" style="margin-top:5%;" 
    *ngIf="code && form.controls['code'].invalid">Enviar</button>
</form>