<div class="centralizado" *ngIf="!carregando">
    <h1  >Informações de Login</h1>

    <form  [formGroup]="form" class="forms centralizado" >  
        <mat-form-field appearance="outline">
            <mat-label>Email*</mat-label>

            <input matInput   formControlName="email">
            <mat-error *ngIf="form.controls['email'].invalid && form.controls['email'].touched" > - Campo obrigatório</mat-error> 

        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="usuario.category!='funcionario'" >
            <mat-label>Senha Atual*</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordA">
            <mat-error *ngIf="form.controls['passwordA'].invalid && form.controls['passwordA'].touched" >- Digite uma senha válida (mínimo 6 dígitos)</mat-error>

            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Nova Senha*</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <mat-error *ngIf="form.controls['password'].invalid && form.controls['password'].touched" >- Digite uma senha válida (mínimo 6 dígitos)</mat-error>

            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirme a nova senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password2" (keyup)="compara()">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="!statusSenha">{{statusMsg}}</mat-error>

        </mat-form-field>
    </form>
    <div class="botoes centralizado" *ngIf="!carregando" >
        

        <button type="button" class="btn botaoVermelho" (click)="saveLogin()" 
        *ngIf="form.controls['passwordA'].valid && form.controls['password'].valid  && (form.controls['password'].value === form.controls['password2'].value)"
            >Atualizar</button>
        <button type="button" class="btn botaoVermelho btnDesativado" 
        *ngIf="form.controls['passwordA'].invalid || form.controls['password'].invalid || (form.controls['password'].value != form.controls['password2'].value)" 
            >Atualizar</button>
    </div> 
</div>

