
table{
    position: relative; 
    width: 30vw;
    background-color: white;
    border-radius: 7px;
    min-width: 350px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1),
    inset 1px 1px 2px #fff;


    
}
tr{

    height: 30px !important;

}
td{
    text-align: center;
    padding: 2%;
}
h1{
    font-size: 25px;
    text-align: center;
    margin-bottom: 5%;
}

// @media screen and (max-width: 800px) {
//   .forms{
//     position: relative; 
//     width: 90vw;
//   }
//   .botoes{
//     width: 500px;
//   }
// }
// @media screen and (max-width: 550px) {
//   .forms{
//     position: relative; 
//     width: 350px;
//   }
//   .botoes{
//     width: 360px;
//   }
// }