<app-alert-erro [(erro)]="erro" *ngIf="erro" ></app-alert-erro>
<div class="conteudo">

    <form  [formGroup]="form" class="forms centralizado">
        <div class="form-group">
            
            <div class="inputLogin centralizado">
                <mat-form-field appearance="outline">
                    <mat-label>Código</mat-label>
                    <input matInput type="text"  formControlName="code">
                </mat-form-field>
            </div>   
        </div>

        <div class="botoesLogin centralizado">
            <button type="submit" class="btn botaoVermelho" (click)="enviarCode()">Confirmar</button>
            <a href="#/login">Cancelar</a>

        </div>
        
    
    </form>

</div>
