.back{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    width: 100%;
    height:52vh;
    z-index: 10;
}
.telefone{
    width: 75%;
    flex-direction: row;
    justify-content: space-between;

}
.telefone{

}