@import './config-scss/reset.scss';
@import './config-scss/variable.scss';
@import './config-scss/rem-calc.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;400;900&display=swap');
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import "node_modules/@costlydeveloper/ngx-awesome-popup/styles/theme";


html{
    // font-family: 'Poppins', sans-serif;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;

    background: var(--primary-color);
}
main{
    max-width: rem-calc(600);
    box-sizing: border-box;
    margin: 0 auto;
}
.centralizado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Lato', sans-serif;}
.form{
    
    background-color: white;
    width: 60%;
    min-width: rem-calc(360);
    max-width: rem-calc(600);
    min-height: rem-calc(360);
    border-radius: 20px;
    padding: rem-calc(20);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.form h1{
    margin-bottom: 10%;
}
mat-form-field{
    min-width: 300px;
}
mat-form-field button{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

.backgroundImage{
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.botaoRosa{
    border: 1px solid #f27523;
    background-color: rgba(251,88,97,1);
    color: #fff;
    min-width: 180px;
    border-radius: 15px;
    height: 40px;
    
}
.botaoVermelho{
  border: 1px solid #f27523;
  background: rgb(251,88,97);
  background: linear-gradient(0deg, rgba(251,88,97,1) 0%, rgba(252,122,66,1) 100%);
  color: #fff;
  min-width: 180px;
  border-radius: 15px;
  height: 40px;
  

}
.botaoVermelho a{
    color: white;
}
.botaoVermelho a:hover{
    color: white;
}

.btnFechar{
  position: absolute;
  top: 10px;
  right: 10px;
  min-width: 20px;
  height: 20px;
  border-radius: 5px;
}
.botaoVermelho::before{
  width: 100%;
  background-color: black;
  z-index: 1;
}
.btnDesativado{
  border: 0px solid #f6f6f6;
  background: rgb(218, 218, 218);
  color: white;

}
.btnDesativado:hover{
  color: white;
}
.btnBranco{
  border: 1px solid #f6f6f6;
  background: white;
  color: black;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1),
  inset 1px 1px 2px #fff;
  min-width: 180px;
  border-radius: 15px;
  height: 40px;
}
a{
  cursor: pointer;
  text-decoration: none;
  color: #f27523;
}
a:hover{
  color: #c24e00;
}

.iconeNotificacao{
  border: 1px solid #f27523;
  background: rgb(251,88,97);
  background: linear-gradient(0deg, rgba(251,88,97,1) 0%, rgba(252,122,66,1) 100%);
  color: #fff;
  width: 20px;
  
  height: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.iconeNotificacao mat-icon{
  transform: scale(0.5);
}
