<div class="main">
    <div class="bloco intro backgroundImage">
        <img [src]="imageInicial" alt="">
        <div class="conteudo container centralizado">
            <div class="conteudoTexto">
                <h1>Muito mais que um cardápio virtual por Qrcode</h1>
                <h3>Use agora e tenha mais agilidade e economia no seu atendimento</h3>
                <p><small style="font-weight: 700">OnTheTable</small> é um produto inovador feito para restaurantes e bares. <a href="#/saiba-mais">SAIBA MAIS</a></p> 
                <button class="botaoVermelho" [routerLink]="['/cadastro']">Teste de graça</button>
            </div>
        </div>
    </div>
    <div class="bloco porque">
        <h1>Por que usar OnTheTable</h1>
        <div class="conteudoPq container centralizado">

            <div class="cadaPorque centralizado">
                <div class="iconePorque">
                    <img src="./assets/icones/food.png" alt="">
                </div>
                <div class="textoPorque">
                    <h3>Cuide da saúde dos seus clientes</h3>
                    <p>
                        OnTheTable permite que os clientes usem cardápio virtual e façam seus pedidos pelo próprio celular
                        sem a necessidade do cardápio impresso.
                    </p>
                </div>
            </div>
            <div class="cadaPorque centralizado">
                
                <div class="iconePorque">
                    <img src="./assets/icones/food.png" alt="">
                </div>
                <div class="textoPorque">
                    <h3>Agilize o atendimento</h3>
                    <p>
                        No OnTheTable o cliente não precisa mais esperar pelo atendimento do garçom ou se dirigir ao balcão
                        para fazer o seu pedido. Os pedidos são feitos online e chegam diretamente na cozinha, com alertas para quando
                        ficam prontos!
                    </p>
                </div>
            </div>
            <div class="cadaPorque centralizado">
                
                <div class="iconePorque">
                    <img src="./assets/icones/food.png" alt="">
                </div>
                <div class="textoPorque">
                    <h3>Organize e monitore o atendimento</h3>
                    <p>
                        O OnTheTable permite acompanhar em tempo real a preparação e a entrega dos pedidos em cada mesa e no balcão,
                        monitorando prazos e pagamentos.
                    </p>
                </div>
            </div>
            <div class="cadaPorque centralizado">
                
                <div class="iconePorque">
                    <img src="./assets/icones/food.png" alt="">
                </div>
                <div class="textoPorque">
                    <h3>Conheça o seu negócio</h3>
                    <p>
                        Obtenha relatórios gerenciais com históricos das vendas e dos prazos do atendimento
                    </p>
                </div>
            </div>
            <div class="cadaPorque centralizado">
                
                <div class="iconePorque">
                    <img src="./assets/icones/food.png" alt="">
                </div>
                <div class="textoPorque">
                    <h3>Conheça seu público</h3>
                    <p>
                        Conheça o perfil dos seus clientes e tenha um canal de comunicação direto para com o seu público para
                        dúvidas, sugestões, avaliações e comentários.
                    </p>
                </div>
            </div>

            <div class="cadaPorque centralizado">
                
                <div class="iconePorque">
                    <img src="./assets/icones/food.png" alt="">
                </div>
                <div class="textoPorque">
                    <h3>Economize</h3>
                    <p>
                        O OnTheTable permite reduzir ou até eliminar a necessidade do atendimento presencial, mediante uma assinatura
                        mensal, sem a necessidade da instalação de totens ou equipamentos.
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="bloco comoFunciona">
        <h1>Como funciona?</h1>
        <div class="conteudoComoFunciona container centralizado">
            <div class="cadaComoFunciona centralizado">
                <img src="./assets/home/passo1.png" alt="">
                <div class="textoComoFunciona">
                    <p>
                        Você configura seu restaurante e o seu cardápio virtual no nosso console.
                        Em seguida imprime um símbolo QRcode para cada mesa e balcão da sua loja.
                    </p>
                </div>
                <div class="paraCirculo">
                    <div class="circulo centralizado">
                        1
                    </div>
                </div>
            </div>
            <div class="cadaComoFunciona centralizado">
                <img src="./assets/home/passo2.png" alt="">
                <div class="textoComoFunciona">
                    <p>
                        O cliente abre a câmera  do celular e aponta para o QRcode na mesa, abrindo o cardápio virtual. 
                        Ele decide  o que quer  e faz o pedido pelo próprio  celular, passando a ocupar a mesa. Ele pode
                        então fazer novos pedidos e incluir outros clientes na mesa.
                    </p>
                </div>
                <div class="paraCirculo">
                    <div class="circulo centralizado">
                        2
                    </div>
                </div>
            </div>
            <div class="cadaComoFunciona centralizado">
                <img src="./assets/home/passo3.png" alt="">
                <div class="textoComoFunciona">
                    <p>
                        Quando o pedido ficar pronto,  a cozinha notifica o cliente e os funcionários do restaurante pelo próprio aplicativo.
                        Em seguida, após o pedido ser entregue ao cliente, o funcionário conclui o pedido no aplicativo, que pode ser pago
                        na hora, ou a qualquer tempo até  a liberação da mesa
                    </p>
                </div>
                <div class="paraCirculo">
                    <div class="circulo centralizado">
                       3
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
