.main{
    width: 65vw;
    min-width: 900px;
    > .forms{
        width: 100%;
        
        height: 60vh;
        min-height: 550px;
        margin-top: 2%;
        background-color: white;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 3%;
        border-radius: 15px;

        > .inputs{
            width: 50%;
            > mat-form-field{
                width: 88%;
            }
        }
        > .cep {
            width: 50%;
            > a{
                color: #f27523;
                text-decoration: underline;
                margin-top: 3%;
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .main{
        min-width: 360px;
     
        > .forms{
            width: 100%;
            
            height: 80vh;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 3%;
            overflow: auto;
    
            > .inputs{
                width: 360px;
                > mat-form-field{
                    width: 95%;
                }
            }
            > .cep {
               
                width: 100%;
            }
        }
    }
}